.formCard :global(h2) {
  font-size: 18px !important;
  line-height: 1.2 !important;
}

.formCard :global(label) {
  font-size: 12px !important;
}

.formCard :global(input) {
  height: 44px !important;
  font-size: 14px !important;
}

.formCard :global(textarea) {
  height: 120px !important;
  font-size: 14px !important;
  border-radius: 18px !important;
}

.formCard :global(button) {
  height: 52px !important;
  font-size: 14px !important;
}
